{% extends 'settings_base.html' %}

{% block content %}
<div class="p-4 sm:ml-64">
    <div class="p-4 mt-14">
        {% if info_message %}
            <div class="px-6">
                <div class="flex mt-4 items-center p-4 mb-0 text-sm text-green-800 sm:max-w-md
                mx-auto border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
                     role="alert">
                    <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="green" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
                    </svg>
                    <span class="sr-only">Info</span>
                    <div>
                        {{ info_message }}
                    </div>
                </div>
            </div>
        {% endif %}
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Ваш аккаунт
        </h1>
        <div class="dark:text-red-500 text-red-600 mt-2 text-sm">{{ form.non_field_errors }}</div>
        <form method="post" class="w-full space-y-4 md:space-y-6">
            {% csrf_token %}
            <div class="grid md:grid-cols-2 md:gap-6">
                {% for field in form %}
                    <div class="relative z-0 w-full mb-6 group">
                        <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900
                         dark:text-white">{{ field.label }}</label>
                        {{ field }}
                        <div class="mt-2 text-sm text-red-600 dark:text-red-500">{{ field.errors }}</div>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
        focus:ring-blue-300 font-medium rounded-lg text-sm max-w-md px-5 py-2.5 text-center
        dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Изменить
            </button>
        </form>
    </div>
</div>
{% endblock %}