{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-4 mt-4 text-3xl ml-8 font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl
    dark:text-white">Сброс пароля завершен</h1>
    <p class="ml-8 font-semibold text-gray-500 dark:text-gray-400">Был установлен новый пароль. Вы можете авторизоваться на
        <a class="text-sm text-blue-700 dark:text-blue-200 dark:hover:text-white"
           href="{% url 'login' %}">
            странице входа</a>
    </p>
{% endblock %}