{% extends 'base.html' %}

{% block content %}

    <h2 class="mt-4 text-4xl font-bold sm:text-3xl dark:text-white text-center">О кинотеатре</h2>

    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <p class="mb-3 text-lg text-gray-500 dark:text-white text-justify">Sun Movies - это не просто кинотеатр, это
            история
            кино на большом экране. С момента своего открытия более
            полувека назад, Sun Movies стал неотъемлемой частью культурной жизни нашего города и драгоценным артефактом
            в
            мире киноискусства.</p>

        <h4 class="text-3xl font-bold dark:text-white mb-4">Немного истории</h4>
        <p class="mb-3 text-lg text-gray-500 dark:text-white text-justify">Открыв свои двери в 1965 году, Sun Movies
            стал
            местом, где поклонники кино собирались, чтобы разделить
            волшебство большого экрана. В течение десятилетий Sun Movies оставался верным своей миссии - предоставить
            зрителям доступ к самым качественным и захватывающим фильмам мира.</p>

        <h4 class="text-3xl font-bold dark:text-white mb-4">Инновации</h4>
        <p class="mb-3 text-lg text-gray-500 dark:text-white text-justify">Sun Movies всегда шел в ногу со временем,
            внедряя самые передовые технологии и улучшения в мире кинопроката.
            Мы гордимся нашим высококачественным проекционным оборудованием и звуковыми системами, которые позволяют вам
            пережить фильм во всей его красе.</p>

        <h4 class="text-3xl font-bold dark:text-white mb-4">События и специальные показы</h4>
        <p class="mb-3 text-lg text-gray-500 dark:text-white text-justify">Sun Movies - место для встречи с кино. У нас
            регулярно проходят тематические недели, специальные показы, мастер-классы и встречи с режиссерами. У нас
            всегда есть что-то особенное для наших зрителей.</p>

        <p class="mb-3 mt-8 text-lg text-gray-500 dark:text-white text-justify">Sun Movies - это не просто кинотеатр. Это
            место, где рождаются воспоминания, место, где кино оживает, и где история кино продолжает сиять ярко на
            большом экране.</p>
    </div>

    {% include 'footer.html' %}
{% endblock %}